#wrap{position: relative;float: left;width: 100%;border: 1px solid red;}

#wrapper {
    position: fixed;
    width: 60%;
    height: 60%;
    border: 1px solid;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    /* Autor : Fixed div szer/wys 60% 60% , prawy gorny rog zamknij, z informacją o autorze imie nazwisko numer albumu cos od siebie :) */
}

#author {
    display: none;
}

#exitButton {
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: black;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    display: none;
}

.guessedWord {
    display: block;
}

#gameOver {
    display: none;
    font-size: 30px;
}

#lifes {
    position: fixed;
    height: 100%;
    margin-right: 5%;
}

.letter {
    width: 50px;
    height: 75px;
    background-color: lightgray;
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: bottom;
    font-size: 60px;
}